<!doctype html>
<title>LED Control</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>LED Control Settings</h1>
</nav>
<hr class="solid">
<section class="content">
  <header>
    <h2>Fill Lighting</h2>
  </header>
  <body>
    <form action="/fill" method="post">
      <label for="fill_num">Number of Colors:</label>
      <input name="fill_num" id="fill_num_id" type="range" min="1" max="4" class="slider" oninput="fill_num_out_id.value = fill_num_id.value" value="{{ fill_num }}">
      <output name="fill_num_out" id="fill_num_out_id">{{ fill_num }}</output>
      <br>
      <label for="fill_rgb0">Fill Color:</label>
      {% for color in colors %}
      <input name="fill_rgb{{ loop.index0 }}" type="color" class="color" value="{{ color }}">
      {% endfor %}
      <br>
      <input type="submit" value="Update">
    </form>
  </body>
</section>
<hr class="solid">
<section class="content">
  <header>
    <h2>Mood Lighting</h2>
  </header>
  <body>
    <form action="/mood" method="post">
      <label for="mood_period">Transition Time [sec]:</label>
      <input name="mood_period" id="mood_period_id" type="range" min="1" max="20" class="slider" oninput="mood_period_out_id.value = mood_period_id.value" value="{{ mood_period }}">
      <output name="mood_period_out" id="mood_period_out_id">{{ mood_period }}</output>
      <br>
      <input name="enable_mood" type="submit" value="Enable">
    </form>
  </body>
</section>
<hr class="solid">
<section class="content">
  <header>
    <h2>Pulse Lighting</h2>
  </header>
  <body>
    <form action="/pulse" method="post">
      <label for="pulse_bpm">Pulse Frequency [bpm]:</label>
      <input name="pulse_bpm" id="pulse_bpm_id" type="range" min="30" max="240" class="slider" oninput="pulse_bpm_out_id.value = pulse_bpm_id.value" value="{{ bpm }}">
      <output name="pulse_bpm_out" id="pulse_bpm_out_id">{{ bpm }}</output>
      <br>
      <input name="enable_pulse" type="submit" value="Enable">
    </form>
  </body>
</section>
<hr class="solid">
<section class="content">
  <header>
    <h2>Ambient Lighting</h2>
  </header>
  <body>
    <form action="/ambient" method="post">
      <label for="enable_ambient">Enable Ambient Lighting:</label>
      <br>
      <input name="enable_ambient" type="submit" value="Enable">
    </form>
  </body>
</section>
<section class="content">
  <header>
    <h2>Rainbow</h2>
  </header>
  <body>
    <form action="/rainbow" method="post">
      <label for="enable_rainbow">Enable Rainbow Lighting:</label>
      <br>
      <input name="enable_rainbow" type="submit" value="Enable">
    </form>
  </body>
</section>
