<!doctype html>
<title>LED Control</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
-->
<nav>
  <h1>Color Select</h1>
</nav>
<section class="content">
  <header>
  </header>
  <body>
    <form action="/fill" method="post">
      <label for="fill_rgb">Fill Color:</label>
      <input name="fill_rgb" type="color" class="color" value="{{ color }}">
      <input type="submit" value="Update">
    </form>
    <form action="/mood" method="post">
      <label for="enable_mood">Enable Mood Lighting:</label>
      <input name="enable_mood" type="submit" value="Enable">
    </form>
    <form action="/pulse" method="post">
      <label for="pulse_bpm">Enable Pulse Lighting:</label>
      <input name="pulse_bpm" id="pulse_bpm_id" type="range" min="30" max="240" class="slider" oninput="pulse_bpm_out_id.value = pulse_bpm_id.value" value="{{ bpm }}">
      <output name="pulse_bpm_out" id="pulse_bpm_out_id">{{ bpm }}</output>
      <input name="enable_pulse" type="submit" value="Enable">
    </form>
    <form action="/ambient" method="post">
      <label for="enable_ambient">Enable Ambient Lighting:</label>
      <input name="enable_ambient" type="submit" value="Enable">
    </form>
  </body>
</section>